body {
  --primary: #0045f0;
  --text-title: #1d2129;
  --text-caption: #646a73;
  --text-description: #8f959e;
  --line-border-component: #d0d3d6;
  --bg-float-overlay: rgb(245, 246, 247);
  --fill-active: #1456f026;
  --fill-hover: #1f232914;
  --icon-n2: #646a73;

  margin: 0;
  color: var(--text-title);
  font-family: Verdana, PingFangSC-Regular, PingFang SC, -apple-system,
    BlinkMacSystemFont, Segoe UI, Hiragino Sans GB, Microsoft YaHei,
    Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #c9cdd4;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #86909c;
}
